.bodyScreen {
  min-height: 100vw;
  color: var(--citrus);
  width: 60%;
  margin: auto;
  position: relative;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  background-image: url("./../images/florent.jpg");
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  border-radius: 50%;
  border: 2px solid var(--blue);
  margin-bottom: 60px;
}

.headerScreen {
  font-family: "BalsamiqSans-regular";
  font-size: 48px;
  height: 150px;
  text-align: center;
  color: var(--electric);
  text-decoration: underline;
}

.sectionScreen {
  margin: auto;
  border: 2px solid var(--violet);
  border-radius: 12px;
  color: var(--orange);
  letter-spacing: 4px;
  font-size: 24px;
  margin-top: 150px;
  box-sizing: content-box;
}
.headerSectionScreen {
  display: flex;
  justify-content: space-between;
  font-family: "Archivo-500";
  margin-left: 24px;
}

.buttonSection {
  text-decoration: none;
  margin: 6px;
  background-color: var(--pink);
  border-radius: 12px;
  font-family: "BalsamiqSans-italic";
  color: var(--citrus);
  border: 2px solid var(--dark);
}

.bodySectionScreen {
  margin: 36px;
  font-family: "Archivo-300italic";
  letter-spacing: 2px;
}

.textBold {
  color: var(--pink);
  font-family: "BalsamiqSans-regular";
}

.videoSection {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.externalLink {
  color: var(--blue);
  font-family: "BalsamiqSans-700";
}

/* Project card css */

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

.image,
.image img,
.details {
  transition: 1s;
}

.wrapperCard {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  z-index: 3;
}

img {
  width: 100%;
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  color: var(--violet);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  transform-origin: left;
  transform: rotateY(90deg);
  overflow: scroll;
}

.details-text {
  width: 80%;
  height: 100%;
}

.details-text h3 {
  font-size: 28px;
}

.details-text p {
  font-size: 18px;
}

.card:hover .details {
  transform: rotateY(0deg);
}

.card:hover .image img {
  opacity: 0.5;
  transform: translateX(30%); /*100%*/
}

/* ============================= Contact ================================  */

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-two {
  color: black;
  font-weight: bolder;
  transition: all 0.5s;
  position: relative;
}
.btn-two span {
  color: var(--citrus);
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.btn-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 2px solid var(--citrus);
  background-color: var(--pink);
}
.btn-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 2px solid var(--pink);
  background-color: var(--blue);
}

.btn-two:hover span {
  letter-spacing: 24px;
  color: var(--pink);
  z-index: 5;
}

.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

.emailAndTel {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 200px;
  font-size: 24px;
}

/* ============================== End ===================================  */

@media (max-width: 900px) {
  .bodyScreen {
    width: 90%;
  }
  .headerScreen {
    font-size: 24px;
  }
  .avatar {
    height: 200px;
    width: 200px;
  }
  .details {
    width: 60%;
    overflow: scroll;
  }

  .details-text h3 {
    font-size: 16px;
  }

  .details-text p {
    font-size: 12px;
  }
  .emailAndTel {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .buttonSection {
    overflow-wrap: normal;
    width: 30%;
  }
}

@media (max-width: 400px) {
  .headerSectionScreen {
    font-size: 18px;
  }
}
