.bodyScreen {
  min-height: 100vw;
  color: var(--citrus);
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  top: 50;
}

.headerScreen {
  font-family: "Archivo-700";
  font-size: 48px;
  height: 150px;
}

@media (max-width: 600px) {
  .headerScreen {
    font-size: 18px;
  }
}
